body {
    background-color: bisque;
}

.perso {
    color: rgb(0, 84, 84);
}

.col-form-label1 {
    background-color: rgb(0, 50, 0);
    border-radius: 3px;
    position: relative;
    color: white;
    border-color: black 3px;
    margin-left: 10px;
    gap: -5px;
}

.col-form-label12 {
    background-color: rgb(0, 50, 0);
    border-radius: 3px;
    position: relative;
    color: white;
    border-color: black 3px;
    margin-left: 10px;
    font-size: 11px;
}

.col-form-label3 {
    border-radius: 3px;
    position: relative;
    color: white;
    border-color: black 3px;
    
}

.form-label-highlight {
    background-color: rgb(0, 50, 0);
    border-radius: 3px;
    position: relative;
    color: white;
    border-color: black 3px;
    margin-left: 10px;
    gap: -5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    
}

.form-control{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    box-shadow: rgba(11, 54, 18, 5) 0px 2px 4px, rgba(5, 37, 7, 0.3) 0px 7px 13px -3px, rgba(7, 24, 1, 0.2) 0px -3px 0px inset;
}

h3{
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
    border-radius: 1%;
    text-shadow: 1px 1px rgb(209, 125, 125); 

}

.navbar{
    background: #0B3612;

}


.table th,
.table td {
    vertical-align: middle;
    background-color: #ebf6ed;
    color: #333;
    padding: 10px;
    text-align: center;
    border: 1px solid #0B3612;  
    box-shadow: rgba(4, 4, 4, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}



.card {
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 17px;
    border: 1px solid #0B3612; 
}


.card-header{
    background-color: #e1e1e1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;

}

.card-body{
    background-color: whitesmoke;
}

.background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0; 
    font-family: Arial, sans-serif; 
  }
  
  .blurry-background {
    position: fixed;
    left: 50%;
    top: -60%;
    transform: translate(-50%);
    width: 100%;
    height: 1150px;
    background-image: url("../includes/Facade_FEU_Admin.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    filter: blur(10px); 
    z-index: -1; 
  }

  h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    display: inline;
    font-weight: 540;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 5); 
    letter-spacing: 1px; 
}


  